# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

# Backpack build
build

# Static files
static

# Sqlite database
database.sqlite

# Ignore yarn lock
yarn.lock